{% extends "boilerplate.html" %}

{% block content %}
<div class="ui top attached borderless menu">
    <div class="ui large header item">
        <img src="/static/images/logo.png">
        &nbsp; <a href="/">Edotor</a>
    </div>
    <div class="right menu">
        <div class="item">
            <div class="ui buttons">
                <div class="ui button basic green" id="revert_last_saved_button"><i class="save icon"></i>Revert to last saved</div>
                <div class="ui button basic green" id="revert_original_button"><i class="save icon"></i>Revert to original</div>
                <div class="ui button basic green" id="save_button"><i class="save icon"></i>Save</div>
            </div>
        </div>
    </div>
</div>
<div class="ui grid">
    <div style="display: none;" id="highlighter">{{highlighter}}</div>
    <div style="display: none;" id="original_content">{{content}}</div>
    <div style="display: none;" id="last_saved_content">{{content}}</div>
    <!-- <div class="row center aligned">
        <div class="sixteen wide column">
            <div class="ui grey segment basic inverted header">
                <h4>Live Diff View</h4>
            </div>
        </div>
    </div> -->
    <div class="row center aligned">
        <div class="eight wide column">
            <div class="ui segment brown basic header">
                Original Contents (Readonly)
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui segment brown basic header">
                Edit here
            </div>
        </div>
    </div>
    <div class="row" style="padding: 0px !important;">
        <div style="width: 100%; padding-left: 2%; padding-right: 2%;">
            <div id="compare"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/codemirror.css">
<link rel="stylesheet" href="/static/css/mergely.css">

<script src="/static/js/lib/codemirror.js"></script>
<script src="/static/js/lib/codemirror_modes/yaml.js"></script>
<script src="/static/js/lib/codemirror_modes/javascript.js"></script>
<script src="/static/js/lib/mergely.min.js"></script>
<script src="/static/js/demo2.js"></script>
{% endblock %}
