{% extends "boilerplate.html" %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui middle aligned">
        <img class="ui centered small image" src="/static/images/logo.png">
        <h2 class="ui header center aligned">Edotor</h2>
        <h4 class="ui header center aligned">By <a href="https://github.com/arpitbbhayani/">Arpit Bhayani</a></h4>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui center aligned basic segment">
        <div class="ui horizontal list">
            <div class="item">
                <h2 class="ui header  small"><u><a href="{{url_for('demo1.index')}}">Demo 1</a></u></h2>
            </div>
            <div class="item">
                <h2 class="ui header  small"><u><a href="{{url_for('demo2.index')}}">Demo 2</a></u></h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block head %}
<script src="/static/js/index.js"></script>
{% endblock %}
