{% extends "boilerplate.html" %}

{% block content %}
    <div class="ui middle aligned" style="padding-top: 50px;">
        <img class="ui centered small image" src="/static/images/logo.png">
        <h2 class="ui header center aligned"><a href="{{url_for('pages.editor')}}">Editor Demo</a></h2>
        <h4 class="ui header center aligned">By <a href="https://github.com/arpitbbhayani/">Arpit Bhayani</a></h4>
    </div>
{% endblock %}

{% block head %}
<script src="/static/js/index.js"></script>
{% endblock %}
